[submodule "go-swagger"]
	path = go-swagger
	url = /home/venkat/go/src/github.com/go-swagger/go-swagger/
[submodule "Go"]
	path = Go
	url = https://github.com/go-swagger/go-swagger.git
[submodule "go/src/github.com/go-swagger/go-swagger"]
	path = go/src/github.com/go-swagger/go-swagger
	url = https://github.com/HegdeVandana/App.git
